 
<section>
    <div class="main-title">
      <h4 >Users Details</h4>
  </div>
  <div>
    <table class="table" frame="box" rules="group">
        <thead >
        <th> <b>Name</b></th>
        <th> <b>Company</b></th>
        <th> <b>Location</b></th>
        </thead>
        
        <tbody>
          <tr>
            <td>{{getusers?.name}}</td>
            <td>{{getusers?.company}}</td>
            <td>{{getusers?.location}}</td>
  
          </tr>
        </tbody>
    </table>
  </div>
  </section>
   
   